.english-zone-row {
    --bs-gutter-x: 0;
}
.english-zone-iframe{
    width: 100%;
    min-height: 300px;

}

@import url(preloader.css);
@import url(bootstrap.min.css);
@import url(meanmenu.css);
@import url(animate.min.css);
@import url(owl.carousel.min.css);
@import url(swiper-bundle.css);
@import url(jquery.fancybox.min.css);
@import url(fontAwesome5Pro.css);
@import url(elegantFont.css);
@import url(default.css);
@import url(style.css);
@media (min-width:1200px) {
    .english-zone-col-xl-3-5{
        flex: 0 0 auto;
        width: 24%;
    }
}